@charset "UTF-8";
h1, h2, h3 {
  font-size: 26px;
  color: purple;
  font-family: Monotype Corsiva;
} /*групповой селектор*/
#span1 { /*индефикатор*/
  color: red;
  font-family: Times New Roman;
  font-size: 26px;
}

#span2 {
  color: yellow;
  font-family: Times New Roman;
  font-size: 26px;
}

#span3 {
  color: green;
  font-family: Times New Roman;
  font-size: 26px;
}

table td {
  background-color: thistle;
}

#td1 {
  background-color: darkgray;
}

#td2 {
  background-color: aquamarine;
}

#td3 {
  background-color: powderblue;
}

#td4 {
  background-color: antiquewhite;
}

#td5 {
  background-color: orange;
}

#td6 {
  background-color: blueviolet;
}

#td7 {
  background-color: aliceblue;
}

#td8 {
  background-color: steelblue;
}